.summary {
    color: #808080;
    border-left: 5px solid #ED1951;
    font-size:16px;
}


h3 {color: #d6315a; }
h4 {color: #d6315a;
font-style: italic;
font-size: smaller;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #d6315a;
    color: white;
}

.nav > li.active > a {
    background-color: #ae6a77;
}

.nav > li > a:hover {
    background-color: #d6315a;
}

div.navbar-collapse .dropdown-menu > li > a:hover {
    background-color: #ae6a77;
}

.nav li.thirdlevel > a {
    background-color: #FAFAFA !important;
    color: #0f2340;
    font-weight: bold;
}

a[data-toggle="tooltip"] {
    color: #d6315a;
    font-style: italic;
    cursor: default;
}

.navbar-inverse {
    background-color: #d6315a;
    border-color: #f0f0f0;
}
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav>li>a:hover, a.fa.fa-home.fa-lg.navbar-brand:hover {
     color: #f0f0f0;
}

a.navbar-brand:hover {
  color: #f0f0f0;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #ae0052;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #ae6a77;
    color: #ffffff;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #248ec2 !important;
}

.btn-primary {
    color: #ffffff;
    background-color: #0f2340;
    border-color: #347DBE;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #0f2340;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #0f2340;
    border-color: #0f2340;
}

    background-color: #6cc;
}

body {
    background-color: #ccc;
}

.watermark {
    position: absolute;
    opacity: 0.25;
    width: 100%;
    text-align: center;
    z-index: 1000;
    #bg-text
    color:lightgrey;
    font-size:120px;
    transform:rotate(300deg);
    -webkit-transform:rotate(300deg);
}
}

.printTitle {
    color: #015CAE !important;
}

body.print h1 {color: #0f2340 !important; font-size:20px !important;}
body.print h2 {color: #d6315a !important; font-size:18px !important;}
body.print h3 {color: #d6315a !important; font-size:14px !important;}
body.print h4 {color: #ac6e7b !important; font-size:12px; font-style: italic !important;}

.anchorjs-link:hover {
    color: #0f2340;
}

div.sidebarTitle {
    color: #ED1951;
}

li.sidebarTitle {
  margin-top:20px;
    font-weight:normal;
    font-size:130%;
    color: #ED1951;
    margin-bottom:10px;
    margin-left: 5px;

}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #ae6a77;
}

.navbar-inverse .navbar-toggle {
    border-color: #FFFFFF;
}
